{% extends "manufacture/manufactureindex.html"%}
{% block body %}
<form action="/myapp/addmanufacturingproductpost/" method="post" enctype="multipart/form-data">
  <table class="table table-bordered">

    {% csrf_token %}
  <tr>
    <th scope="row">Name</th>
    <td><input type="text" class="form-control" required name="textfield" id="textfield" /></td>
  </tr>
  <tr>
    <th scope="row">Category</th>
    <td><input type="text" class="form-control" required name="textfield2" id="textfield2" /></td>
  </tr>
  <tr>
    <th scope="row">Description</th>
    <td><input type="text" class="form-control" required name="textfield3" id="textfield3" /></td>
  </tr>
  <tr>
    <th scope="row">Photo</th>
    <td><input type="file" class="form-control" required name="textfield4" id="textfield4" /></td>
  </tr>
  
  <tr>
    <th scope="row">Unit of measurement</th>
    <td><input type="text" class="form-control" required name="textfield5" id="textfield5" /></td>
  </tr>
  <tr>
    <th scope="row">&nbsp;</th>
    <td><input type="submit"  name="button" class="btn btn-info" id="button" value="Add" /></td>
  </tr>
</table>
</form>
{% endblock %}