<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/myapp/changepasswordmanufacture/">changepassword</a><br>
<a href="/myapp/viewprofilemanufacture/">viewprofile</a><br>
<a href="/myapp/viewsupplier/">viewsupplier</a><br>
<a href="/myapp/viewrawmaterialsandsendorder/">viewrawmaterialsandsendorder</a><br>
<a href="/myapp/managemanufactureproductadd/">managemanufactureproductadd</a><br>
<a href="/myapp/managemanufactureproductedit/">managemanufactureproductedit</a><br>
<a href="/myapp/viewsellerorderandverify/">viewsellerorderandverify</a><br>

</body>
</html>