{% extends "manufacture/manufactureindex.html"%}
{% block body %}
<form action="" method="post"><table class="pull-left">
  <tr>
    <th scope="row"><input type="text" class="form-control" name="textfield" id="textfield" /></th>
    <td><input type="submit" name="button" class="btn btn-info" id="button" value="Search" /></td>
  </tr>
</table>
  <table class="table table-bordered">
    <tr>
      <th scope="row">Sl.no</th>
      <td>Quantity</td>
    </tr>
    <tr>
      <th scope="row">&nbsp;</th>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
{% endblock %}