{% extends "signupindex.html"%}
{% block body %}
<form action="/myapp/signupmanufacturepost/" method="post" enctype="multipart/form-data"><table class="pull-left">
    {% csrf_token %}
  <tr>
    <th scope="row">Name</th>
    <td><input type="text" class="form-control" name="textfield" id="textfield" /></td>
  </tr>
  <tr>
    <th scope="row">Email</th>
    <td><input type="text" class="form-control" name="textfield2" id="textfield2" /></td>
  </tr>
  <tr>
    <th scope="row">Phone</th>
    <td><input type="text" class="form-control" name="textfield3" id="textfield3" /></td>
  </tr>
  <tr>
    <th scope="row">Website</th>
    <td><input type="text" class="form-control" name="textfield4" id="textfield4" /></td>
  </tr>
  <tr>
    <th scope="row">Location</th>
    <td><input type="text" class="form-control" name="textfield5" id="textfield5" /></td>
  </tr>
  <tr>
    <th scope="row">Registrationdate</th>
    <td><input type="date" class="form-control" name="textfield6" id="textfield6" /></td>
  </tr>
  <tr>
    <th scope="row">Status</th>
    <td><input type="text" class="form-control" name="textfield7" id="textfield7" /></td>
  </tr>
  <tr>
    <th scope="row">Logo</th>
    <td><input type="file" name="textfield8" id="textfield8" /></td>
  </tr>
  <tr>
    <th scope="row">Certifications</th>
    <td><input type="file" class="form-control" name="textfield9" id="textfield9" /></td>
  </tr>
     <tr>
    <th scope="row">password</th>
    <td><input type="text" name="textfield10" id="textfield10" /></td>
  </tr>
     <tr>
    <th scope="row">confirmpassword</th>
    <td><input type="text" class="form-control" name="textfield11" id="textfield11" /></td>
  </tr>
  <tr>
    <th scope="row">&nbsp;</th>
    <td><input type="submit" name="button" class="btn btn-info" id="button" value="Signup" /></td>
  </tr>
</table>
</form>
{% endblock %}
