{% extends "manufacture/manufactureindex.html"%}
{% block body %}
{% load filters %}
<form action="/myapp/viewrawmaterialsorderpost/#tab" method="post"><table class="pull-left">
    {% csrf_token %}
   <tr>
    <th scope="row">From</th>
    <td><input type="date" class="form-control" required name="textfield" id="textfield" /></td>
    <td>To</td>
    <td><input type="date" class="form-control" required name="textfield2" id="textfield2" /></td>
    <td><input type="submit" name="button" class="btn btn-info" id="button" value="Search" /></td>
  </tr>
</table>
  <table class="table table-bordered">
    <tr>
      <th scope="row">Sl.no</th>
      <td>Supplier Name</td>
      <td>Date</td>
      <td>Amount</td>
      <td colspan="2"></td>
    </tr>
      {% for i in data %}
    <tr>
      <th scope="row">&nbsp;{{ forloop.counter }}</th>
      <td>&nbsp;{{ i.name|material_info:'suppliera' }}</td>
      <td>&nbsp;{{ i.date}}</td>
      <td>&nbsp;{{ i.amount }}</td>
      <td>&nbsp;<a class="btn-outline-info" href="/myapp/manufacturer_viewordersub/{{ i.id }}#tab" >Materials</a></td>

    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}