{% extends "manufacture/manufactureindex.html"%}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/viewsupplierpost/" ><table class="pull-left">
{% csrf_token %}
  <table class="">
    <tr>
      <th scope="row"><input type="text" class="form-control" name="textfield" id="textfield" /></th>
      <td><input type="submit" name="button" class="btn btn-info" id="button" value="Search" /></td>
    </tr>
  </table>
  <table class="table table-bordered">
    <tr>
      <th scope="row">Sl.no</th>
      <td>Company Name</td>
      <td>Email</td>
      <td>Phone</td>
      <td>Website</td>
      <td>Location</td>
      <td>Industry</td>
     
      <td>Certificate</td>
    </tr>
      {% for i in obj %}
    <tr>
      <th scope="row">&nbsp;{{ forloop.counter }}</th>
      <td>&nbsp;{{ i.companyname }}</td>
      <td>&nbsp;{{ i.email }}</td>
      <td>&nbsp;{{ i.phone }}</td>
      <td>&nbsp;{{ i.website }}</td>
      <td>&nbsp;{{ i.location }}</td>
      <td>&nbsp;{{ i.industry }}</td>
      <td>&nbsp;<img src="{{ i.certification }} height=50px width=50px"  alt=""/></td>
        
        <td><a class="btn btn-outline-info" href="/myapp/viewrawmaterialsandsendorder/{{ i.id }}">order</a></td>
      
    </tr>
      {% endfor %}
  </table>
  
</form>
{% endblock %}