{% extends "manufacture/manufactureindex.html"%}
{% block body %}
<form action="" method="post"><table class="pull-left">
   
    <tr>
        <th scope="row">Logo</th>
        <td>&nbsp;<img src="{{ data.logo }}"  height="50px" width="50px"> </td>
    </tr>    

  <tr>
    <th scope="row">Name</th>
    <td>&nbsp;{{ data.name }}</td>
  </tr>
  <tr>
    <th scope="row">Email</th>
    <td>&nbsp;{{ data.email }}</td>
  </tr>
  <tr>
    <th scope="row">Phone</th>
    <td>&nbsp;{{ data.phone }}</td>
  </tr>
  <tr>
    <th scope="row">Website</th>
    <td>&nbsp;{{ data.website }}</td>
  </tr>
  <tr>
    <th scope="row">Location</th>
    <td>&nbsp;{{ data.location }}</td>
  </tr>
  <tr>
    <th scope="row">registration date</th>
    <td>&nbsp;{{ data.registrationdate }}</td>
  </tr>
 
  
  <tr>
    <th scope="row">Certificate</th>
    <td>&nbsp;<img src="{{ data.certification }}"  height="50px" width="50px"></td>
  </tr>
  <tr>
    <th scope="row">&nbsp;</th>
    <td><a class="btn btn-outline-info" href="/myapp/manufactureeditprofile/">edit</a></td>
  </tr>
</table>
</form>
{% endblock %}