<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post"><table width="200" border="1">
  <tr>
    <th scope="row"><input type="text" name="textfield" id="textfield" /></th>
    <td><input type="submit" name="button" id="button" value="Search" /></td>
  </tr>
</table><table width="200" border="1">
  <tr>
    <th scope="row">Sl.no</th>
    <td>orderdate</td>
    <td>deliveryaddress</td>
    <td>status</td>
    <td>total quantity</td>
    <td>paymentmethod</td>
    <td>paymentstatus</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
    {% for i in data %}
  <tr>
    <th scope="row">&nbsp;{{ forloop.counter }}</th>
    <td>&nbsp;{{ i.orderdate }}</td>
    <td>&nbsp;{{ i.address }}</td>
    <td>&nbsp;{{ i.status }}</td>
    <td>&nbsp;{{ i.totalquantity }}</td>
    <td>&nbsp;{{ i.paymentmethod }}</td>
    <td>&nbsp;{{ i.paymentstatus }}</td>
    <td><a href="/myapp/viewsellerorderandverify/">verify</a></td>
    <td>&nbsp;</td>
      {% endfor %}
  </tr>
</table>

</form>
</body>
</html>
