{% extends "manufacture/manufactureindex.html"%}
{% block body %}
<form action="" method="post"><table class="pull-left">
  <tr>
    <th scope="row"><input type="text" class="form-control" name="textfield" id="textfield" /></th>
    <td><input type="submit" name="button" class="btn btn-info" id="button" value="Search" /></td>
  </tr>
</table><table class="table table-bordered">
  <tr>
    <th scope="row">Sl.no</th>
    <td>orderdate</td>
    <td>deliveryaddress</td>
    <td>status</td>
    <td>total quantity</td>
    <td>paymentmethod</td>
    <td>paymentstatus</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
    {% for i in data %}
  <tr>
    <th scope="row">&nbsp;{{ forloop.counter }}</th>
    <td>&nbsp;{{ i.orderdate }}</td>
    <td>&nbsp;{{ i.address }}</td>
    <td>&nbsp;{{ i.status }}</td>
    <td>&nbsp;{{ i.totalquantity }}</td>
    <td>&nbsp;{{ i.paymentmethod }}</td>
    <td>&nbsp;{{ i.paymentstatus }}</td>
    <td><a class="btn btn-outline-info" href="/myapp/viewsellerorderandverify/">verify</a></td>
    <td>&nbsp;</td>
      {% endfor %}
  </tr>
</table>

</form>
{% endblock %}