{% extends "manufacture/manufactureindex.html"%}
{% block body %}
<form action="/myapp/viewrawmaterialsandsendorderpost/" method="post"><table class="pull-left">
    {% csrf_token %}
  <tr>
    <th scope="row"><input type="text" name="textfield" id="textfield" /></th>
    <td><input type="submit" name="button" class="btn btn-info" id="button" value="Search" /></td>
  </tr>
</table>
  <table class="table table-bordered">
    <tr>
     
      <td>Raw material Name</td>
      <td>Amount</td>
      <td>Description</td>
      <td>Quantity</td>
        
      <td>&nbsp;</td>
    </tr>
      {% for i in data %}
    <tr>
      <th scope="row">&nbsp;{{ i.RAWMATERIAL.name }}</th>
      <td>&nbsp;{{ i.RAWMATERIAL.cost }}</td>
      <td>&nbsp;{{ i.RAWMATERIAL.description }}</td>
      
      
      <td>{{ i.quantity }}&nbsp;</td>
      <td><a class="btn btn-outline-info" href="/myapp/quantity/{{ i.RAWMATERIAL.id }}">order</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}