{% extends "manufacture/manufactureindex.html"%}
{% block body %}
{% load filters %}
<form action="/myapp/viewsellerorderandverifypost/#tab" method="post"><table class="pull-left">
  <tr>
    <th scope="row">From</th>
    <th scope="row"><input type="date" required class="form-control" name="textfield" id="textfield" /></th>
    <th scope="row">To</th>
    <th scope="row"><input type="date" required class="form-control" name="textfield2" id="textfield" /></th>
    <td><input type="submit" name="button" class="btn btn-info" id="button" value="Search" /></td>
  </tr>
</table><table class="table table-bordered">
  <tr>
    <th >Sl.no</th>
    <td>Date</td>
    <td>Seller Name</td>
{#    <td>Amount</td>#}
    <th>&nbsp;Status</th>
  </tr>
    {% for i in data %}
  <tr>
    <th>&nbsp;{{ forloop.counter }}</th>
    <td>&nbsp;{{ i.date }}</td>
    <td>&nbsp;{{ i.SELLER.username }}</td>
{#    <td>&nbsp;{{ i.amount }}</td>#}
    <td>{% if i.status == 'pending' or i.status == 'ordered' %}
    <a class="btn btn-primary" href="/myapp/viewseller_suborder/{{ i.id }}#tab">Products</a>
    <a class="btn btn-outline-info" href="/myapp/approvesellerorder/{{ i.id }}#tab">verify</a>
    <a class="btn btn-outline-danger" href="/myapp/rejectsellerorder/{{ i.id }}#tab">reject</a>
        {% else %}
        {{ i.status }}
    {% endif %}</td>
      {% endfor %}
  </tr>
</table>

</form>
{% endblock %}