{% extends "supplier/supplierindex.html"%}
{% block body %}
<form action="/myapp/addstocksupplierpost/#tab" method="post">
  <table class="table table-bordered">

{% csrf_token %}
  <tr>
    <th scope="row">Quantity</th>
    <td><input type="text" class="form-control" name="textfield" id="textfield" /></td>
  </tr>
  <tr>
    <th scope="row">Raw material</th>
    <td><select name="textfield2">
        {% for i in data %}
        <option value="{{ i.id }}" >{{ i.name }}</option>
{#        <option {{ i.id }}>{{ i.name }}</option>#}
        {% endfor %}
    </select></td>
  </tr>
  <tr>
    <th scope="row">&nbsp;</th>
    <td><input type="submit" class="btn btn-info" name="button" id="button" value="Add" /></td>
      
  </tr>
</table>

</form>
{% endblock %}