<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="/myapp/editstocksupplierpost/" method="post"><table width="200" border="1">
{% csrf_token %}
  <tr>
      <input type="hidden" name="id" value="{{ data1.id }}">
    <th scope="row">Quantity</th>
    <td><input type="text" name="textfield" id="textfield" value="{{ data1.quantity }}" /></td>
  </tr>
  <tr>
    <th scope="row">Raw material</th>
    <td><select name="textfield2">
        {% for i in data %}
        <option {{ i.id }}>{{ i.name }}</option>
        {% endfor %}
    </select></td>
  </tr>
  <tr>
    <th scope="row">&nbsp;</th>
    <td><input type="submit" name="button" id="button" value="Add" /></td>
  </tr>
</table>

</form>
</body>
</html>
