{% extends "supplier/supplierindex.html"%}
{% block body %}
<form action="/myapp/editsupplierpost/#tab" method="post"enctype="multipart/form-data"> <table class="pull-left">
    {% csrf_token %}
  <tr>
{#      <input type="hidden" value="{{ data.id }}" name="id">#}
    <th scope="row">Company name</th>
    <td><input type="text" class="form-control" name="textfield" id="textfield" value="{{ data.companyname }}" /></td>
  </tr>
  <tr>
    <th scope="row">Email</th>
    <td><input type="text" class="form-control" name="textfield2" id="textfield2" value="{{ data.email }}" /></td>
  </tr>
  <tr>
    <th scope="row">Phone</th>
    <td><input type="text" class="form-control" name="textfield3" id="textfield3" value="{{ data.phone }}"/></td>
  </tr>
  <tr>
    <th scope="row">Website</th>
    <td><input type="text" class="form-control" name="textfield4" id="textfield4" value="{{ data.website }}" /></td>
  </tr>
  <tr>
    <th scope="row">Location</th>
    <td><input type="text" class="form-control" name="textfield5" id="textfield5" value="{{ data.location }}"/></td>
  </tr>
  <tr>
    <th scope="row">Industry</th>
    <td><input type="text" class="form-control" name="textfield6" id="textfield6" value="{{ data.industry }}"/></td>
  </tr>
  <tr>
    <th scope="row">Logo</th>
    <td><img src="{{ data.logo }}" height="50px" width="50px" alt=""/><input type="file" name="textfield7" id="textfield7" ></td>
  </tr>
  <tr>
    <th scope="row">Certifications</th>
    <td><img src="{{ data.certificate }}" height="50px" width="50px" alt=""/><input type="file" name="textfield8" id="textfield8"/></td>
  </tr>
  <tr>
    <th scope="row">&nbsp;</th>
    <td><input type="submit" class="btn btn-info" name="button" id="button" value="edit" /></td>
  </tr>
</table>
</form>
{% endblock %}