{% extends "supplier/supplierindex.html"%}
{% block body %}
<form action="/myapp/managerawmaterialsaddsupplierpost/#tab" method="post"><table class="pull-left">
    {% csrf_token %}
  <tr>
    <th scope="row">Name</th>
    <td>&nbsp;<input type="text" class="form-control" name="name" value="{{ data.name }}"/></td>
  </tr>
  <tr>
    <th scope="row">Category</th>
    <td>&nbsp;<input type="text" class="form-control" name="category" value="{{ data.category }}"/></td>
  </tr>
  <tr>
    <th scope="row">Description</th>
    <td>&nbsp;<input type="text" class="form-control" name="description" value="{{ data.description }}"/></td>
  </tr>
  <tr>
    <th scope="row">Origin</th>
    <td>&nbsp;<input type="text" class="form-control" name="origin" value="{{ data.origin }}"/></td>
  </tr>
  <tr>
    <th scope="row">Harvest/Production date</th>
    <td>&nbsp;<input type="text" class="form-control" name="harvest" value="{{ data.harvestorproductiondate }}"/></td>
  </tr>
  <tr>
    <th scope="row">Cost</th>
    <td>&nbsp;<input type="text" class="form-control" name="cost" value="{{ data.cost }}"/></td>
  </tr>
  <tr>
    <tr>
        <th scope="row">Quantity</th>
        <td>&nbsp;<input type="text" class="form-control" name="quantity" value="{{ data.quantityavailable }}"/></td>
    </tr>
  <tr>
    <th scope="row">Certification</th>
    <td>&nbsp;<input type="text" class="form-control" name="certificate" value="{{ data.certification }}"/></td>
  </tr>
  <tr>
    <th scope="row">&nbsp;</th>
    <td><input type="submit" class="btn btn-info" name="button" id="button" value="Add" /></td>
  </tr>
</table>
</form>
{% endblock %}
