{% extends "supplier/supplierindex.html"%}
{% block body %}
<form action="/myapp/viewordersubpost/" method="post"><table class="pull-left">
    {% csrf_token %}
  <tr>
    <th scope="row"><input type="text" class="form-control" name="textfield" id="textfield" /></th>
    <td><input type="submit" class="btn btn-info" name="button" id="button" value="Search" /></td>
  </tr>
</table>
  <table class="table table-bordered">
    <tr>
      <th scope="row">Sl.no</th>
      
      <td>Amount</td>
      <td>Quantity</td>
      <td>Description</td>

     
    </tr>
      {% for i in data %}
    <tr>
      <th scope="row">&nbsp;{{ forloop.counter }}</th>
      <td>&nbsp;{{ i.RAWMATERIALORDERMAIN.amount }}</td>
        <td>&nbsp;{{ i.quantity }}</td>
                <td>&nbsp;{{ i.productdescription }}</td>
      


      <td>&nbsp;<a href="/myapp/" </td>
     
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}