{% extends "signupindex.html"%}
{% block body %}
<form action="/myapp/signupsupplierpost/" method="post"enctype="multipart/form-data">
  <table class="table table-bordered">

    {% csrf_token %}
  <tr>
    <th scope="row">Company name</th>
    <td><input type="text" class="form-control" required name="textfield" id="textfield" /></td>
  </tr>
  <tr>
    <th scope="row">Email</th>
    <td><input type="text" class="form-control" required name="textfield2" id="textfield2" /></td>
  </tr>
  <tr>
    <th scope="row">Phone</th>
    <td><input type="text" class="form-control" required name="textfield3" id="textfield3" /></td>
  </tr>
  <tr>
    <th scope="row">Website</th>
    <td><input type="text" class="form-control" required name="textfield4" id="textfield4" /></td>
  </tr>
  <tr>
    <th scope="row">Location</th>
    <td><input type="text" class="form-control" required name="textfield5" id="textfield5" /></td>
  </tr>
  <tr>
    <th scope="row">Industry</th>
    <td><input type="text" class="form-control" required name="textfield6" id="textfield6" /></td>
  </tr>
  <tr>
    <th scope="row">Logo</th>
    <td><input type="file" accept="image/*" class="form-control" required name="textfield7" id="textfield7" /></td>
  </tr>
  <tr>
    <th scope="row">Certifications</th>
    <td><input type="file" class="form-control" required name="textfield8" id="textfield8" /></td>
  </tr>
    
    <tr>
        <th scope="row">password</th>
        <td><input type="text" class="form-control" required name="textfield9" id="textfield9" /></td>
    </tr>
    <tr>
        <th scope="row">Confirm password</th>
        <td><input type="text" class="form-control" required name="textfield10" id="textfield10" /></td>
    </tr>
  <tr>
    <th scope="row">&nbsp;</th>
    <td><input type="submit" class="btn btn-info" name="button" id="button" value="Signup" /></td>
  </tr>
</table>
</form>
{% endblock %}
