<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/myapp/viewprofilesupplier/">viewprofile</a><br>
<a href="/myapp/addrawmaterialssupplier/">addrawmaterialssupplier</a><br>
<a href="/myapp/viewrawmaterialsedit/">viewrawmaterialsedit</a><br>
<a href="/myapp/addstocksupplier/">addstocksupplier</a><br>
<a href="/myapp/viewstock/">viewstock</a><br>
{#<a href="/myapp/editstocksupplier/">editstocksupplier</a><br>#}
<a href="/myapp/viewordersfrommanufacture/">viewordersfrommanufacture</a><br>
<a href="/myapp/updateorderstatussupplier/">updateorderstatussupplier</a><br>



</body>
</html>