{% extends "supplier/supplierindex.html"%}
{% block body %}
<form action="/myapp/viewrawmaterialspost/#tab" method="post"><table class="pull-left">
    {% csrf_token %}
  <tr>
    <th scope="row"><input type="text" class="form-control" name="textfield" id="textfield" /></th>
    <td><input type="submit" class="btn btn-info" name="button" id="button" value="Search" /></td>
  </tr>
</table>
  <table class="table table-bordered">
    <tr>
      <th scope="row">Sl.no</th>
      <td>Name</td>
      <td>Category</td>
      <td>Description</td>
      <td>Origin</td>
      <td>Harvest/Production date</td>
        <td>Cost</td>
      <td>Quantity</td>
      <td>Certification</td>
        
    </tr>
      {% for i in data %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>&nbsp;{{ i.name }}</td>
      <td>&nbsp;{{ i.category }}</td>
      <td>&nbsp;{{ i.description }}</td>
      <td>&nbsp;{{ i.origin }}</td>
      <td>&nbsp;{{ i.harvestorproductiondate }}</td>
      <td>&nbsp;{{ i.cost }}</td>
      <td>&nbsp;{{ i.quantityavailable }}</td>
      <td>&nbsp;{{ i.certification }}</td>
      
      <td><a class="btn-outline-info" href="/myapp/editrawmaterials/{{ i.id }}">edit</a></td>
      <td><a class="btn-outline-info" href="/myapp/deleterawmaterials/{{ i.id }}">delete</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}