{% extends "supplier/supplierindex.html"%}
{% block body %}
<form action="/myapp/viewordersfrommanufacturepost/" method="post"><table class="pull-left">
    {% csrf_token %}
  <tr>
    <th scope="row"><input type="text" class="form-control" name="textfield" id="textfield" /></th>
    <td><input type="submit" class="btn btn-info" name="button" id="button" value="Search" /></td>
  </tr>
</table>
  <table class="table table-bordered">
    <tr>
      <th scope="row">Sl.no</th>
      <td>Manufacture Name</td>
      <td>Date</td>
      <td>Amount</td>
    
     
    </tr>
      {% for i in data %}
    <tr>
      <th scope="row">&nbsp;{{ forloop.counter }}</th>
      <td>&nbsp;{{ i.MANUFACTURE.name }}</td>
      <td>&nbsp;{{ i.date}}</td>
      <td>&nbsp;{{ i.amount }}</td>
      <td>&nbsp;<a class="btn-outline-info" href="/myapp/viewordersub/{{ i.id }}" >ordersub</a></td>
     
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}