{% extends "supplier/supplierindex.html"%}
{% block body %}
<form action="/myapp/viewstockpost/" method="post"><table class="pull-left">
    {% csrf_token %}
  <tr>
    <th scope="row"><input type="text" class="form-control" name="textfield" id="textfield" /></th>
    <td><input type="submit" class="btn btn-info" name="button" id="button" value="Search" /></td>
  </tr>
</table>
  <table class="table table-bordered">
    <tr>
      <th scope="row">Sl.no</th>
      <td>Quantity</td>
      <td>Raw material</td>
      <td>&nbsp;</td>
    </tr>
      {% for i in data %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>&nbsp;{{ i.quantity }}</td>
      <td>&nbsp;{{ i.RAWMATERIAL.name }}</td>
      <td><a class="btn-outline-info" href="/myapp/editstocksupplier/{{ i.id }}">edit</a></td>
      <td><a class="btn-outline-danger" href="/myapp/deletestocksupplier/{{ i.id }}">delete</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}