<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/changepasswordadmin/">changepasswordadmin</a><br>
<a href="/myapp/viewsupplieradmin/">verifysupplieradmin</a><br>
<a href="/myapp/approvesupplieradmin/">approvesupplieradmin</a><br>
<a href="/myapp/rejectsupplieradmin/">rejectsupplieradmin</a><br>
<a href="/myapp/viewmanufactureadmin/">verifymanufactureadmin</a><br>
<a href="/myapp/approvemanufactureadmin/">approvemanufactureadmin</a><br>
<a href="/myapp/rejectmanufactureadmin/">rejectmanufactureadmin</a><br>
<a href="/myapp/viewselleradmin/">verifyselleradmin</a><br>
<a href="/myapp/approveselleradmin/">approveselleradmin</a><br>
<a href="/myapp/rejectselleradmin/">rejectselleradmin</a><br>
<a href="/myapp/viewcomplaintadmin/">usercomplaint&viewreplyadmin</a><br>
<a href="/myapp/sendreply/">sendreply</a><br>
<a href="/myapp/viewfeedback/">viewfeedback</a><br>
<a href="/myapp/viewuser/">viewusers</a><br>

</body>
</html>