{% extends "admin/adminindex.html"%}
{% block body %}
<form action="/myapp/approvesupplieradminpost/#tab" method="post"><table class="pull-left">
    {% csrf_token %}
  <tr>
    <th scope="row"><input type="text" class="form-control" required name="textfield" id="textfield" /></th>
    <td><input type="submit" name="submit" class="btn btn-info" id="submit" value="Search" /></td>
  </tr>
</table>
  <table class="table table-bordered">
  <tr>
    <th scope="row">Sl.no</th>
    <td>Company Name</td>
    <td>Email</td>
    <td>Phone</td>
    <td>Website</td>
    <td>Location</td>
    <td>Industry</td>
      <td>certification(id proof)</td>
    

      
      
  </tr>
    {% for i in data %}
  <tr>
  <th scope="row">&nbsp;{{ forloop.counter }}</th>
    <td>&nbsp;<img src="{{ i.logo }}" alt="" height="50px" width="50px"/><br>{{ i.companyname }}</td>
    <td>&nbsp;{{ i.email }}</td>
    <td>{{ i.phone }}</td>
    <td>&nbsp;{{ i.website }}</td>
    <td>{{ i.location }}</td>
    <td>{{ i.industry }}</td>
    <td>&nbsp<img src="{{ i.certification }}" alt="" height="50px" width="50px"/></td>
  </tr>
    {% endfor %}
</table>

</form>

{% endblock %}