{% extends "admin/adminindex.html"%}
{% block body %}
<form action="/myapp/changepasswordadminpost/" method="post"><table class="pull-left">
    {% csrf_token %}
  <tr>
    <th scope="row">Old Password</th>
    <td><input type="text" class="form-control" required name="textfield" id="textfield" /></td>
  </tr>
  <tr>
    <th scope="row">New Password</th>
    <td><input type="text" class="form-control" required name="textfield2" id="textfield2" /></td>
  </tr>
  <tr>
    <th scope="row">Confirm Password</th>
    <td><input type="text" class="form-control" required name="textfield3" id="textfield3" /></td>
  </tr>
  <tr>
    <th scope="row">&nbsp;</th>
    <td><input type="submit" name="button" class="btn btn-info" id="button" value="Submit" /></td>
  </tr>
</table>
</form>

{% endblock %}