{% extends "admin/adminindex.html"%}
{% block body %}
<form action="/myapp/viewselleradminpost/#tab" method="post"><table class="fa-pull-left">
    {% csrf_token %}
  <tr>
    <th scope="row"><input type="text" class="form-control" required name="textfield" id="textfield" /></th>
    <td><input type="submit" name="button" class="btn btn-info" id="button" value="Search" /></td>
  </tr>
</table>
  <table class="table table-bordered">
    <tr>
      <th scope="row">Sl.no</th>
      <td>Name</td>
      <td>Email</td>
      <td>Address</td>
        <td>phone</td>
      <td>Website</td>
      <td>location</td>
      <td>DOB</td>
      <td>Certificate</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>

    </tr>
      {% for i in data %}
    <tr>
      <th scope="row">&nbsp;{{ forloop.counter }}</th>
      <td>{{ i.companyname }}</td>
      <td>&nbsp;{{ i.email }}</td>
      <td>&nbsp;{{ i.place }}<br>{{ i.post }}<br>{{ i.pin }}</td>
      <td>&nbsp;{{ i.phone }}</td>
      <td>&nbsp;{{ i.website }}</td>
      <td>&nbsp;{{ i.location }}</td>
      <td>&nbsp;{{ i.dateofbirth }}</td>
        <td>&nbsp<img src="{{ i.certificate }}" alt="" height="50px" width="50px"/></td>
      <td><a class="btn-outline-info" href="/myapp/sellersapprove/{{ i.LOGIN.id }}">Approve</a></td>
        <td><a class="btn-outline-danger" href="/myapp/sellersreject/{{ i.LOGIN.id }}">Reject</a></td>  
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}