{% extends "admin/adminindex.html"%}
{% block body %}
<form action="/myapp/viewuserpost/#tab" method="post"><table class="pull-left">
    {% csrf_token %}
  <tr>
    <th scope="row"><input type="text" class="form-control" required name="textfield" id="textfield" /></th>
    <td><input type="submit" name="button" class="btn btn-info" id="button" value="Search" /></td>
  </tr>
</table>
    <table class="table table-bordered">
  <tr>
    <th scope="row">Sl.no</th>
    <td>Name</td>
    <td>Email</td>
    <td>Phone</td>
    <td>Address</td>
    <td>gender</td>
    
  </tr>
     {% for i in data %}
  <tr>
    <th scope="row">&nbsp;{{ forloop.counter }}</th>
    <td>&nbsp;{{ i.username }}</td>
    <td>&nbsp;{{ i.email }}</td>
    <td>&nbsp;{{ i.phone }}</td>
      <td> {{ i.place }}<br>{{ i.post }}<br>{{ i.pin }}<br>{{ i.district }}</td>
      <td>&nbsp;{{ i.gender }}</td>

  </tr>
    {% endfor %}
    
</table>

</form>
{% endblock %}