{% extends "seller/sellerindex.html"%}
{% block body %}
<form action="" method="post"><table class="pull-left">
    <tr>
     
      <td>Slno</td>
      <td>Product Name</td>
      <td>Product</td>
      <td>Quantity</td>
        
      <td>&nbsp;</td>
    </tr>
    {% for i in data %}
        <tr>
          <th scope="row">&nbsp;{{ forloop.counter }}</th>
          <td>&nbsp;{{ i.manufacture }}</td>
          <td>&nbsp;{{ i.PRODUCT.productname }}</td>
          <td>&nbsp;{{ i.PRODUCT.productname }}</td>
          
          
          <td>&nbsp;</td>
          <td><a class="btn btn-outline-info" href="/myapp/viewpurchasesub/{{ i.id }}">Purchase</a></td>
     {% endfor %}       
        </tr>
  </table>
</form>
{% endblock %}