{% extends "seller/sellerindex.html"%}
{% block body %}
<form action="" method="post">
  <table class="table table-bordered">

    <tr>
     
{#      <td>Slno</td>#}
{#      <td>Product Name</td>#}
      <td>Product</td>
      <td>Quantity</td>
        
      <td>&nbsp;</td>
    </tr>
    {% for i in data %}
    <tr>
{#      <th scope="row">{{ forloop.counter }}&nbsp;</th>#}
      <td>&nbsp;{{ i.product }}</td>
      <td>&nbsp;{{ i.quantity }}</td>
      
      
      <td>&nbsp;</td>
     {% endfor %} 
    </tr>
  </table>
</form>
{% endblock %}