<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/myapp/viewandeditprofile/">viewandeditprofile</a><br>
<a href="/myapp/viewcustomerorder/">viewcustomerorder</a><br>
<a href="/myapp/viewpayments/">viewpayments</a><br>
<a href="/myapp/updateorderstatus/">updateorderstatus</a><br>
<a href="/myapp/viewapprovedcustomerorder/">viewapprovedcustomerorder</a><br>
<a href="/myapp/viewrejectedcustomerorder/">viewrejectedcustomerorder</a><br>
<a href="/myapp/viewmanufacture/">viewmanufacture</a><br>
<a href="/myapp/viewmanufacturingproducts/">viewmanufacturingproducts</a><br>
<a href="/myapp/viewpurchase/">viewpurchase</a><br>
<a href="/myapp/addproductstosale/">addproductstosale</a><br>


</body>
</html>