{% extends "signupindex.html"%}
{% block body %}
<form action="/myapp/signupsellerpost/" method="post" enctype="multipart/form-data">
  <table class="table table-bordered">

    {% csrf_token %}
  <tr>
    <th scope="row">Company name</th>
    <td><input type="text" class="form-control" required name="textfield" id="textfield" /></td>
  </tr>
  <tr>
    <th scope="row">Email</th>
    <td><input type="email" class="form-control" required name="textfield2" id="textfield2" /></td>
  </tr>
    <tr>
        <th scope="row">phone</th>
        <td><input type="number" min="6000000000" max="9999999999" class="form-control" required name="phone" id="textfield2" /></td>
    </tr>
  <tr>
    <th scope="row">place</th>
    <td><input type="text" class="form-control" required name="place" id="place" /></td>
  </tr>
    
     <tr>
    <th scope="row">post</th>
    <td><input type="text" class="form-control" required name="post" id="post" /></td>
  </tr>
    
     <tr>
    <th scope="row">pin</th>
    <td><input type="number" min="100000" max="999999" class="form-control" required name="pin" id="pin" /></td>
  </tr>
  <tr>
    <th scope="row">Website</th>
    <td><input type="text" class="form-control" name="textfield4" id="textfield4" /></td>
  </tr>
  <tr>
    <th scope="row">Location</th>
    <td><input type="text" class="form-control" name="textfield5" id="textfield5" /></td>
  </tr>
  <tr>
    <th scope="row">DoB</th>
    <td><input type="text" class="form-control" name="textfield6" id="textfield6" /></td>
  </tr>
{#  <tr>#}
{#    <th scope="row">Status</th>#}
{#    <td><input type="text" name="textfield7" id="textfield7" /></td>#}
{#  </tr>#}
    <tr>
        <th scope="row">Certificate</th>
        <td><input type="file" class="form-control" name="certificate" id="certificate" /></td>
    </tr>
   <tr>
    <th scope="row">Password</th>
    <td><input type="text" class="form-control" name="textfield8" id="textfield8" /></td>
  </tr>
    
   <tr>
    <th scope="row">Confirmpassword</th>
    <td><input type="text" class="form-control" name="textfield9" id="textfield9" /></td>
  </tr>  
  <tr>
    <th scope="row">&nbsp;</th>
    <td><input type="submit" name="button" class="btn btn-info" id="button" value="Signup" /></td>
  </tr>
</table>
</form>
{% endblock %}