{% extends "seller/sellerindex.html"%}
{% block body %}
<form action="/myapp/viewmanufacturingproductspost/#tab" method="post"><table class="pull-left">
    {% csrf_token %}
  <tr>
    <th scope="row"><input type="text" class="form-control" name="textfield" id="textfield" /></th>
    <td><input type="submit" name="button" class="btn btn-info" id="button" value="Search" /></td>
  </tr>
</table>
  <table class="table table-bordered">
    <tr>
      <th scope="row">S.No</th>
      <th scope="row">product name</th>
      <td>Category</td>
      <td>Description</td>
      <td>Unit of measurement</td>
    </tr>
      {% for i in data %}
        <tr>
          <th scope="row">&nbsp;{{ forloop.counter }}</th>
          <td>&nbsp;{{ i.namea }}</td>
          <td>&nbsp;{{ i.categorya }}</td>
          <td>&nbsp;{{ i.descriptiona }}</td>
          <td>&nbsp;{{ i.unitofmeasurementa }}</td>
          <td><a href="/myapp/seller_product_quantity/{{ i.ida }}#tab" class="btn btn-info">Buy</a> </td>
        
        </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}