{% extends "seller/sellerindex.html"%}
{% block body %}
<form action="/myapp/viewapprovedcustomerorderpost/#tab" method="post"><table class="pull-left">
    {% csrf_token %}
  <tr>
    <th scope="row">From</th>
    <td><input type="date" class="form-control" name="textfield" id="textfield" /></td>
    <td>To</td>
    <td><input type="date" class="form-control" name="textfield2" id="textfield2" /></td>
    <td><input type="submit" name="button" class="btn btn-info" id="button" value="Search" /></td>
  </tr>
</table><table class="table table-bordered">
  <tr>
    <th scope="row">Sl.no</th>
    <td>Orderdate</td>
    <td>User</td>
{#    <td>Product Name</td>#}
{#    <td>Quantity</td>#}
{#    <td>status</td>  #}
    <td>Amount</td>
  </tr>
    {% for i in data %}
  <tr>
    
    <th scope="row">&nbsp;{{ forloop.counter }}</th>
        <td>&nbsp;{{ i.date }}</td>
        <td>&nbsp;{{ i.USER.username }}</td>
{#        <td>&nbsp;{{ i.status }}</td>#}
        <td>&nbsp;{{ i.amount }}</td>
{#    <td>&nbsp;{{ i.MANUFACTUREPRODUCT.productname }}</td>#}
{#    <td>&nbsp;{{ i.quantity }}</td>#}
    
       
        <td>&nbsp;<a class="btn btn-outline-info" href="/myapp/viewordersub/{{ i.id }}" >ordersub</a></td>
      
   {% endfor %}
  </tr>
</table>

</form>
{% endblock %}