{% extends "seller/sellerindex.html"%}
{% block body %}
<form action="/myapp/viewpaymentspost/#tab" method="post"><table class="pull-left">
    {% csrf_token %}
  <tr>
    <th scope="row">From</th>
    <td><input type="date" class="form-control" name="textfield" id="textfield" /></td>
    <td>To</td>
    <td><input type="date" class="form-control" name="textfield2" id="textfield2" /></td>
    <td><input type="submit" name="button" class="btn btn-info" id="button" value="Search" /></td>
  </tr>
</table>
  <table class="table table-bordered">
    <tr>
       
      <th scope="row">Sl.no</th>
        <td>Order(name)</td>
      <td>Date</td>
      <td>Amount</td>
   
      <td>status</td>
    </tr>
      
      {% for i in data %}
    <tr>
      <th scope="row">{{ forloop.counter}}</th>
      <td>{{ i.ORDER.USER.username }}</td>
      <td>&nbsp;{{ i.paymentdate }}</td>
      <td>&nbsp;{{ i.paymentamount }}</td>
      <td>&nbsp;{{ i.paymentstatus }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}