{% extends "seller/sellerindex.html"%}
{% block body %}
<form action="/myapp/viewmanufacturepost/#tab" method="post"><table class="pull-left">
    {% csrf_token %}
  <tr>
    <th scope="row"><input type="text" class="form-control" name="textfield" id="textfield" /></th>
    <td><input type="submit" name="button" class="btn btn-info" id="button" value="Search" /></td>
  </tr>
</table>
  <table class="table table-bordered">
    <tr>
      <th scope="row">Sl.no</th>
      <td>Name</td>
      <td>Email</td>
      <td>phone</td>
      <td>website</td>
      <td>location</td>
      <td></td>

     
    </tr>
      {% for i in data %}
    <tr>
      <th scope="row">&nbsp;{{ forloop.counter  }} </th>
      <td>&nbsp;{{ i.name }}</td>
      <td>&nbsp;{{ i.email }}</td>
      <td>&nbsp;{{ i.phone }}</td>
      <td>&nbsp;{{ i.website }}</td>
      <td>&nbsp;{{ i.location }}</td>
      <td>&nbsp;<a href="/myapp/viewmanufacturingproducts/{{ i.LOGIN.id }}#tab" class="btn btn-info">Products</a> </td>

      {% endfor %}
    </tr>
  </table>
</form>
{% endblock %}