{% extends "seller/sellerindex.html"%}
{% block body %}
{% load filters %}
<form action="" method="post">
    <table class="table table-bordered">
  <tr>
    <th scope="row">Sl.no</th>
    <td>Quantity</td>
    <td>Product</td>

  </tr>
    {% for i in data %}
  <tr>
    
    <th scope="row">&nbsp;{{ forloop.counter }}</th>
    <td>&nbsp;{{ i.quantity }}</td>
    <td>&nbsp;{{ i.MANUFACTUREPRODUCT_id|product_info:'namea' }}</td>

   {% endfor %}
  </tr>
</table>

</form>
{% endblock %}